<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Portal Aplikasi - Sistem Peminjaman Ruangan Online</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
	<div class="container">
		<div class="menuextras">
			<div class="extras">
				<ul>
					<li>Login sebagai Zahrul Addini</li>
					<li>
						<a href="#">Logout</a>
					</li>
				</ul>
			</div>
		</div>
		<nav id="mainmenu" class="mainmenu">
		<ul>
			<li class="logo-wrapper">
				<a href="index.html"><img src="img/Kanan.jpg" width="250" alt="Multipurpose Twitter Bootstrap Template"></a>
			</li>
			<li class="">
				<a href="index.html">Home</a>
			</li>
			<li class="active">
				<a href="peminjaman.html">Peminjaman</a>
			</li>
			<li class="">
				<a href="history.html">History</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<!-- Services -->
<div class="section">
	<div class="container">

		<h5>Peminjaman > Create New</h5>
		<div class="row">
			<div class="col-md-4">
				<div class="service-wrapper">
					<table>
					<tr>
						<td>
							<table>
							<tr>
								<td>
									<label for="meeting">Pilih Tanggal :</label>
								</td>
								<td colspan="3">
									<label for="time">Pilih Jam :</label>
								</td>
								<td></td>
							</tr>
							<tr>
								<td>
									<input type="date" name="date"></td>
								<td>
									<input type="time" name="date"></td>
								<td>s/d</td>
								<td>
									<input type="time" name="date"></td>
								<td>
									<button class="btn">Cari</button>
								</td>
							</tr>
							</table>
						</td>
						<td>
							<table>
							<tr>
								<th colspan="6">
									<label for="meeting">Riwayat Peminjaman</label>
								</th>
							</tr>
							<tr>
								<td width="80">ID</td>
								<td width="100">Tanggal</td>
								<td width="150">Penanggung Jawab</td>
								<td width="100">Keperluan</td>
								<td width="150">Status</td>
								<td width="100">Option</td>
							</tr>
							<tr>
								<td colspan="5">Tidak ada Peminjaman</td>
								<td>Edit | Delete</td>
							</tr>
							</table>
						</td>
					</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="service-wrapper">
					 Hasil Pencarian : Tanggal - Bulan - Tahun (Jam-Menit)
					<table cellspacing="0" align="center">
					<tr>
						<th>Ruangan</th>
						<th>Kapasitas</th>
						<th>Status</th>
						<th>Pinjam</th>
					</tr>
					<tr>
						<td>6767</td>
						<td>12-10-2001</td>
						<td>14.00-16.00</td>
						<td>
							<button class="btn">Pinjam</button>
						</td>
					</tr>
					<tr>
						<td>6767</td>
						<td>12-10-2001</td>
						<td>14.00-16.00</td>
						<td>
							<button class="btn">Pinjam</button>
						</td>
					</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Services -->
<div class="menuextras">
	<div class="extras">
		<p align="center">
			<img src="img/foot.png" width="250">
		</p>
	</div>
</div>
</body>
</html>