<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Portal Aplikasi - Sistem Peminjaman Ruangan Online</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
	<div class="container">
		<div class="menuextras">
			<div class="extras">
				<ul>
					<li>Login sebagai Zahrul Addini</li>
					<li>
						<a href="#">Logout</a>
					</li>
				</ul>
			</div>
		</div>
		<nav id="mainmenu" class="mainmenu">
		<ul>
			<li class="logo-wrapper">
				<a href="index.html"><img src="img/Kanan.jpg" width="250" alt="Multipurpose Twitter Bootstrap Template"></a>
			</li>
			<li class="">
				<a href="index.html">Home</a>
			</li>
			<li class="active">
				<a href="peminjaman.html">Peminjaman</a>
			</li>
			<li class="">
				<a href="history.html">History</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<!-- Services -->
<div class="section">
	<div class="container">

		<h5>Peminjaman > Detail Peminjaman</h5>
		<div class="row">
			<div class="col-md-4">
				<div class="service-wrapper1">
					<form action="#">
						<center>
						<h3>Detail Peminjaman</h3>
						</center>
						<table>
						<tr>
							<td width="700">
								<table border="1">
								<tr>
									<td width="200">
										<label class="desc" id="title1" for="Field1">ID</label>
									</td>
									<td width="300">ID</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title1" for="Field1">Tanggal</label>
									</td>
									<td width="200">12-03-1995</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title1" for="Field1">Penanggung Jawab</label>
									</td>
									<td width="200">Zahrul Addini</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title3" for="Field3">Email</label>
									</td>
									<td width="100">adinzahrul@gmail.com</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title3" for="Field3">No Telepon</label>
									</td>
									<td width="100">085789940265</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title3" for="Field3">Nama Kegiatan</label>
									</td>
									<td width="100">Compfest</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title4" for="Field4">Deskripsi</label>
									</td>
									<td width="100">Deskripsi Kegiatan</textarea>
									</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title4" for="Field4">Jumlah Peserta</label>
									</td>
									<td width="100">120</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title4" for="Field4">Ruangan</label>
									</td>
									<td width="100">2304</td>
								</tr>
								<tr>
									<td width="200">
										<label class="desc" id="title4" for="Field4">Status</label>
									</td>
									<td width="100">Manajer Kemahasiswaan</td>
								</tr>
								<tr>
									<td colspan="2" width="200">
										<input type="button" value="Print Peminjaman"></td>
								</tr>
								</table>
							</td>
							<td width="600">
								<textarea id="Field4" name="Field4" spellcheck="true" rows="3" cols="50" tabindex="4">Masukkan Komentar</textarea><br/>
								<input type="button" value="SUBMIT">
								<form>
									<fieldset>
										<legend>Komentar :</legend>
										<p>
											 Belum ada komentar
										</p>
									</fieldset>
								</form>
							</td>
						</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<!-- End Services -->
<div class="menuextras">
<div class="extras">
	<p align="center">
		<img src="img/foot.png" width="250">
	</p>
</div>
</div>
</body>
</html>