<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Portal Aplikasi - Sistem Peminjaman Ruangan Online</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
	<div class="container">
	
		<nav id="mainmenu" class="mainmenu">
		<ul>
			<center><li class="logo-wrapper">
				<a href="index.html"><img src="img/Kanan.jpg" width="250" alt="Multipurpose Twitter Bootstrap Template"></a>
			</li></center>
			
		</ul>
		</nav>
	</div>
</div>
<!-- Services -->
<div class="section">
	<div class="container">
		<center>
		
		
		</center>
		
		<div class="row">
			
				<div class="col-dm-4">
				
				<div class="service-wrapper">
				<h2>Sistem Peminjaman Ruangan Online <br/>Fakultas Ilmu Komputer Universitas Indonesia </h2>
				
				<br/>
				<br/>
				<button class="btn">Login With SSO</button><br/><br/>		<br/>
				<p>
				Sistem ini hanya untuk internal Fakultas Ilmu Komputer Universitas Indonesia</br>
				Untuk eksternal Fakultas Ilmu Komputer Universitas Indonesia silahkan hubungi :</br>
				Bapak Harry -
				</p>
				</div>
			</div>
			
		</div>
		
	</div>
</div>
<!-- End Services -->
<div class="menuextras">
	<div class="extras">
		<p align="center">
			<img src="img/foot.png" width="250">
		</p>
	</div>
</div>
</body>
</html>