<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Portal Aplikasi - Sistem Peminjaman Ruangan Online</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
	<div class="container">
		<div class="menuextras">
			<div class="extras">
				<ul>
					<li>Login sebagai Zahrul Addini</li>
					<li>
						<a href="#">Logout</a>
					</li>
				</ul>
			</div>
		</div>
		<nav id="mainmenu" class="mainmenu">
		<ul>
			<li class="logo-wrapper">
				<a href="/.."><img src="{% static 'img/Kanan.jpg' %}" width="250" alt="Multipurpose Twitter Bootstrap Template"></a>
			</li>
			<li class="">
				<a href="/..">Home</a>
			</li>
			<li class="active">
				<a href="#">Peminjaman</a>
			</li>
			<li class="has-submenu">
				<a href="history">History</a>
			</li>
		</ul>
		</nav>
	</div>
</div>
<!-- Services -->
<div class="section">
	<div class="container">

		<div class="row">
				
				<div class="col-md-4">
				<div class="service-wrapper">
				
				<input class="btn" type=button onClick="parent.location='ruangan'" value='Create New'>
				<input class="btn" type=button onClick="parent.location='#'" value='Import Jadwal'>
				<input class="btn" type=button onClick="parent.location='#'" value='Lihat Alur Peminjaman'>
				<select>
				<option>Sort By Kategori</option>
				<option>Mahasiswa</option>
				<option>Dosen</option>
				</select>
				<br/>
				<br/>
					
					<table cellspacing="0" align="center">
    
	<tr>
        <th>ID</th>
        <th>Tanggal</th>
        <th>Jam</th>
        <th>Penanggung Jawab</th>
        <th>Role</th>
		<th>Ruangan</th>
		<th>Keperluan</th>
		<th>Jumlah Barang</th>
		<th>Status</th>
		<th>Approval</th>
		<th></th>
    </tr>
    <tr>
        <td >6767</td>
        <td >12-10-2001</td>
        <td >14.00-16.00</td>
        <td >Zahrul Addini</td>
        <td >Mahasiswa</td>
		<td >2304</td>
        <td >Rapat BEM</td>
        <td >4</td>
        <td >Manajer Kemahasiswaan</td>
        <td >Yes or No</td>
		<td><a href="#">Update</a> | <a href="#">delete</a></td>
    </tr>
      <tr>
        <td >6767</td>
        <td >12-10-2001</td>
        <td >14.00-16.00</td>
        <td >Muhammad Zahrul Addini</td>
        <td >Mahasiswa</td>
		<td >2304</td>
        <td >Rapat BEM</td>
        <td >4</td>
        <td >Manajer Kemahasiswaan</td>
        <td >Yes or No</td>
		<td><a href="#">Update</a> | <a href="#">delete</a></td>
    </tr>
    
</table>
					
				</div>
			</div>
			
		</div>
	</div>
</div>
<!-- End Services -->
<div class="menuextras">
	<div class="extras">
		<p align="center">
			<img src="{% static 'img/foot.png' %}" width="250">
		</p>
	</div>
</div>
</body>
</html>